extends layout

block content
  a(href='/inventory/category/create') Create a New Category
  h2= title
  
  ul
    each category in category_list
      li
        a(href=category.url) #{category.name}
    else
      li There are no categories.