extends layout

block content
  a(href='/inventory/grocery/create') Create a new Grocery

  h2= title
    
  ul
    each grocery in grocery_list
      li
        a(href=grocery.url) #{grocery.name}
    else
      li There are no groceries.
