extends layout

block content
  p.font-bold.text-xl Welcome to the App!
    div
      ul.text-xl
        li.ml-2
          a(href='/inventory/groceries', class='hover:text-blue-400 hover:underline') Grocery List
        li.ml-2
          a(href='/inventory/categories', class='hover:text-blue-400 hover:underline') Category List
        li.ml-2
          a(href='/inventory/locations', class='hover:text-blue-400 hover:underline') Location List