doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href='/') Home 
      a(href='/inventory/groceries') Groceries 
      a(href='/inventory/categories') Categories 
      a(href='/inventory/locations') Locations 
    hr
    block content
