extends layout

block content
  a(href='/inventory/location/create') Create a New Location
  
  h2 Location: #{location.name}
  
  div
    h4 Available Items in Location
    ul
      each grocery in grocery_list
        li 
          a(href=grocery.url) #{grocery.name}
      else
        li This location currently has no items
